<h1>Login</h1>

<p> Registrate  <a href="/"><button>Registrate</button></a></p>
<p id="welcome"></p>
<p> Deslogueate <a href="/logout"><button>Deslogueate</button></a></p>


<form id="loginForm">
    <label>Correo electronico</label>
    <input name="email">
    <label>Contraseña</label>
    <input name="password">
    <input type="submit">
</form>

<div>
    <p>Logueate por github <a href="api/sessions/github"><button>Github</button></a></p>
</div>

<script src="/js/login.js"></script>